@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Check out our <a asp-controller="Other" asp-action="Index">Other Page!</a></p>
    <a asp asp-controller="Abstract" asp-action="TrackingMessage"></a>
</div>
