@{
    ViewData["Title"] = "Other Page";
}

<div>
    <p>Check out our <a asp-controller="Home" asp-action="Index">Home Page!</a></p>
    <a asp asp-controller="Abstract" asp-action="TrackingMessage"></a>
</div>
